<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,895},{52,31}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{52,31}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>15_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,776},{52,31}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{52,31}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>20_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,776},{52,31}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{52,31}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>30_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,506},{52,31}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{52,31}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>40_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,506},{52,31}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{52,31}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>77.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>77_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>anniu_1-7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,538},{59,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_1-7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,192},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_1-7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{59,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_77_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,209},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_77_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,521},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_77_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,332},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_8-14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,66},{59,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_8-14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,273},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_8-14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,130},{59,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_all+1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,396},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_all+1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,600},{59,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_all+1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,474},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_all+1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,273},{59,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,748},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,331},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_bar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,684},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_juzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,620},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_juzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,396},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_juzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,556},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_kaishi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,820},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{110,57}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>anniu_kaishi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,974},{110,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{110,47}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>anniu_kaishi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,822},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{110,57}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>anniu_ningmeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_ningmeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,460},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_ningmeng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,66},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_pingguo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,145},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_pingguo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,600},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_pingguo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,209},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_tongzhong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,332},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_tongzhong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,661},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_tongzhong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,410},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_xigua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,492},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_xigua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,722},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_xigua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_xingxing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_xingxing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,661},{59,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_xingxing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,145},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>anniu_youjian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{71,57}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{71,57}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>anniu_youjian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,146},{69,51}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{69,51}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>anniu_youjian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,337},{71,57}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{71,57}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>anniu_youjian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,75},{69,51}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{69,51}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>anniu_zuojian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,260},{75,55}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{75,55}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>anniu_zuojian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,415},{75,49}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{75,49}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>anniu_zuojian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,338},{75,55}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{75,55}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>anniu_zuojian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,415},{75,49}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{75,49}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>bangzhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,974},{45,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{45,45}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bangzhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,287},{43,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{43,43}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bangzhu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,974},{45,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{45,45}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bar_X50.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bar_x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,928},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>caidan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,977},{45,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{45,45}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>caidan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,287},{43,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{43,43}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>caidan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{45,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{45,45}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>cedeng_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,544}}</string>
                <key>sourceSize</key>
                <string>{60,544}</string>
            </dict>
            <key>cedeng_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,544}}</string>
                <key>sourceSize</key>
                <string>{60,544}</string>
            </dict>
            <key>cedeng_aL.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{52,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{52,502}}</string>
                <key>sourceSize</key>
                <string>{60,544}</string>
            </dict>
            <key>cedeng_aR.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{52,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{52,502}}</string>
                <key>sourceSize</key>
                <string>{60,544}</string>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,260},{76,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,49}}</string>
                <key>sourceSize</key>
                <string>{76,49}</string>
            </dict>
            <key>dingdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,934},{222,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{222,38}}</string>
                <key>sourceSize</key>
                <string>{272,108}</string>
            </dict>
            <key>dingdeng_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,820},{206,108}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,108}}</string>
                <key>sourceSize</key>
                <string>{272,108}</string>
            </dict>
            <key>dingdeng_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,548},{270,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{270,108}}</string>
                <key>sourceSize</key>
                <string>{272,108}</string>
            </dict>
            <key>dingdeng_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{272,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,108}}</string>
                <key>sourceSize</key>
                <string>{272,108}</string>
            </dict>
            <key>juzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,809},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>juzi_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,690},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,75},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,217},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>light_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,822},{153,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,32}}</string>
                <key>sourceSize</key>
                <string>{153,32}</string>
            </dict>
            <key>light_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{153,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,32}}</string>
                <key>sourceSize</key>
                <string>{153,32}</string>
            </dict>
            <key>luck_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,604},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>luck_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,518},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>mangguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,432},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>mangguo_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,346},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>pingguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>pingguo_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tongling.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tongling_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>toumingceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,930},{91,24}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{91,24}}</string>
                <key>sourceSize</key>
                <string>{105,58}</string>
            </dict>
            <key>xigua.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,711},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xigua_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,625},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,539},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xingxing_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,930},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>002.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bf01ea9b6378de11198be6dc0e4efce:7812cc238a3e9ea7ccd0dd5b0b79c5cd:157b388fc36648e2c2add5fc6cf439f5$</string>
            <key>textureFileName</key>
            <string>002.png</string>
        </dict>
    </dict>
</plist>
