<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,158},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>button1_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{143,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,42}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>button1_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,158},{1,1}}</string>
                <key>offset</key>
                <string>{-71,20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>button2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,46},{143,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,42}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>button5_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,90},{143,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,42}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,236}}</string>
                <key>sourceSize</key>
                <string>{157,236}</string>
            </dict>
            <key>tubiao_bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,134},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tubiao_gmjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,134},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{14,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tubiao_grzj.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,134},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>tubiao_sf.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,134},{24,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{24,16}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tubiao_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,134},{22,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tubiao_xfbfhdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,134},{24,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>004.png</string>
            <key>size</key>
            <string>{385,161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce6052a280c155842b0188820dec79fe:21ef06b0901e4681f33ba563e4069d16:063e899204dd74f3b6a36f2c186c6e90$</string>
            <key>textureFileName</key>
            <string>004.png</string>
        </dict>
    </dict>
</plist>
