<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_guanbi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,51},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{47,47}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>anniu_guanbi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{47,47}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,564}}</string>
                <key>sourceSize</key>
                <string>{449,564}</string>
            </dict>
            <key>wenzi_xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,100},{59,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>015.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3dcec3da59a4d24a5946f67a083b8ee$</string>
            <key>textureFileName</key>
            <string>015.png</string>
        </dict>
    </dict>
</plist>
