<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,58}</string>
                <key>spriteSourceSize</key>
                <string>{233,78}</string>
                <key>textureRect</key>
                <string>{{688,108},{209,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,58}</string>
                <key>spriteSourceSize</key>
                <string>{233,78}</string>
                <key>textureRect</key>
                <string>{{899,108},{209,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{178,58}</string>
                <key>spriteSourceSize</key>
                <string>{212,78}</string>
                <key>textureRect</key>
                <string>{{1110,108},{178,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{178,58}</string>
                <key>spriteSourceSize</key>
                <string>{212,78}</string>
                <key>textureRect</key>
                <string>{{1290,108},{178,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{178,58}</string>
                <key>spriteSourceSize</key>
                <string>{212,78}</string>
                <key>textureRect</key>
                <string>{{1470,96},{178,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_02_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{178,58}</string>
                <key>spriteSourceSize</key>
                <string>{212,78}</string>
                <key>textureRect</key>
                <string>{{1650,96},{178,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,56}</string>
                <key>spriteSourceSize</key>
                <string>{341,56}</string>
                <key>textureRect</key>
                <string>{{2,108},{341,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,56}</string>
                <key>spriteSourceSize</key>
                <string>{341,56}</string>
                <key>textureRect</key>
                <string>{{345,108},{341,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_360_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,104}</string>
                <key>spriteSourceSize</key>
                <string>{342,104}</string>
                <key>textureRect</key>
                <string>{{2,2},{342,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_360_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,104}</string>
                <key>spriteSourceSize</key>
                <string>{342,104}</string>
                <key>textureRect</key>
                <string>{{346,2},{342,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tourist_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,104}</string>
                <key>spriteSourceSize</key>
                <string>{342,104}</string>
                <key>textureRect</key>
                <string>{{690,2},{342,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tourist_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,104}</string>
                <key>spriteSourceSize</key>
                <string>{342,104}</string>
                <key>textureRect</key>
                <string>{{1034,2},{342,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yesno_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,92}</string>
                <key>spriteSourceSize</key>
                <string>{228,92}</string>
                <key>textureRect</key>
                <string>{{1378,2},{228,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yesno_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,92}</string>
                <key>spriteSourceSize</key>
                <string>{228,92}</string>
                <key>textureRect</key>
                <string>{{1608,2},{228,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{1838,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c64cf84b7e558a2c08fa527a9ccecf9c:ecc5647def96b42623c5a2fac6304180:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
